
  .main{
    max-width: 1200px;
    margin: 0 auto;
  }
  
  h1 {
      font-size: 24px;
      font-weight: 400;
      text-align: center;
  }
  
  img {
    height: auto;
    width: 368;
    height: 207px;
    vertical-align: middle;
  }
  
  .btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    background: slategrey;
    pointer-events: none;
  }
  
  .btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
  }
  

.flex-container {
  /* We first create a flex layout context */
  display: flex;
  
  /* Then we define the flow direction 
      and if we allow the items to wrap 
    * Remember this is the same as:
    * flex-direction: row;
    * flex-wrap: wrap;
    */
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  
  padding: 0;
  margin: 0;
  list-style: none;
}
.flex-item {
  background: rgba(44, 43, 43, 0.637);
  border-radius: 15px;
  padding: 5px;
  width: 400px;
  height: 380px;
  margin-top: 20px;
  color: white;
  text-align: center;
}

.card_img{
 border-radius: 15px;
}

.card_content{
  text-align: left;
}