
* {
  box-sizing: border-box;
}

main{
  padding: 5vw;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;

  background: radial-gradient(1.5em 6.28571em at 1.95em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(1.5em 6.28571em at -0.45em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 1.5em 5.5em, radial-gradient(2.3em 4.57143em at 2.99em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(2.3em 4.57143em at -0.69em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 2.3em 4em, radial-gradient(3.5em 6.28571em at 4.55em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(3.5em 6.28571em at -1.05em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 3.5em 5.5em, radial-gradient(#dbdada, #ccc7c7);
  background-color: rgb(159, 158, 207);
  background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
  background-repeat: repeat;

}


div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 20px;
}

/* Style voor footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
 }

  

  /* navbar */

nav {
  top: 0;
  left: 0;
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: relative !important;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav>ul {
  display: flex;
  background-color: #333;
  justify-content: space-around;
}

nav a {
  background-color: #333;
  color: #ddd;
  text-decoration: none;
  padding: 1vw 5vw;
  display: block;
}

nav li {
  list-style: none;
  position: relative;
}

nav li ul {
  display: none;
}

nav li:hover>ul {
  display: block;
}

nav li ul {
  position: absolute;
  top: 100%;
  left: 0;
  white-space: nowrap;
}

nav li li ul{
  top: 0;
  left: 100%;
}

nav a:hover {
  background-color: #c60021;
  color: #fff;
}

/* Responsive Nav Bar */
@media all and (max-width: 600px) {
  nav ul {
      flex-direction: column;
  }
  nav ul li {
      text-align: center;
  }
}

/* Formulier */
.gegevens{
 font-size: large;
} 

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


