
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

/* Style the footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
 }
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }


  /* navbar */
main{
  padding: 10vw;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav>ul {
  display: flex;
  background-color: #333;
  justify-content: space-around;
}

nav a {
  background-color: #333;
  color: #ddd;
  text-decoration: none;
  padding: 1vw 5vw;
  display: block;
}

nav li {
  list-style: none;
  position: relative;
}

nav li ul {
  display: none;
}

nav li:hover>ul {
  display: block;
}

nav li ul {
  position: absolute;
  top: 100%;
  left: 0;
  white-space: nowrap;
}

nav li li ul{
  top: 0;
  left: 100%;
}

nav a:hover {
  background-color: #111;
  color: #fff;
}


