.flex-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  
  .flex-container > div {
    background-color: #f6f6f8;
    margin: 20px;
    width: 100%;
    padding: 20px;
  }

  .header {
    background-color: #E3E3E3;
  }

h2 {
  color: #c60021;
}

b {
  color: #c60021 ;
}

img {
  width: 100%;
  height: 100%;
}

  /* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}